gui.channel.1 = 1
gui.channel.2 = 1
gui.channel.3 = 1
gui.channel.4 = 1
gui.channel.5 = 1
gui.channel.6 = 1
gui.channel.7 = 1
gui.channel.8 = 1
gui.channel.9 = 1
gui.channel.10 = 1
gui.channel.11 = 1
gui.channel.12 = 1
gui.channel.13 = 1
gui.channel.14 = 1
gui.channel.15 = 1
gui.channel.16 = 1
gui.channel.17 = 1
gui.channel.18 = 1
gui.channel.19 = 1
gui.channel.20 = 1
